/* outline: 4px solid #ff0000; */

body {
    font-family: Arial, sans-serif;
    background-color: #edb54d60;
    color: #333;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h2 {
    margin-bottom: 20px;
}

header {
    background-image: url("C:/school/projectBlok3/receptenboek/site/images/indianFood1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F5A623;
    color: #ffd736e6;
    padding: 50px;
    text-align: center;
    width: 80%;
    margin: 0 5%;
    border: 2px solid #793e10b8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #f1754cce;
    text-decoration: none;
}

nav a:hover {
    color: #ff0000;
}

main {
    max-width: 1800px;
    margin: 0 4%;
    padding: 40px;
}

.recipe {
    margin-bottom: 40px;
    padding: 40px;
    background-color: #ee982fa0;
    box-shadow: 0 4px 4px rgba(65, 27, 6, 0.375);
    overflow: auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 30px;
    /* outline: 4px solid #ff0000; */
}


.recipe h3 {
    margin-top: 10px;
}

.recipe p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;

}



.ButterChicken {
    width: 30%;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
}